 <!-- end loader -->
 <div class="sidebar">
    <!-- Sidebar  -->
    <nav id="sidebar">

        <div id="dismiss">
            <i class="fa fa-arrow-left"></i>
        </div>

        <ul class="list-unstyled components">

            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/about">ABOUT US</a>
            </li>
            <li>
                <a href="/contact">CONTACT US</a>
            </li>
            <li>
                <a href="/srp">NEWS</a>
            </li>
<!--             <li>
                <a href="/more">MORE ...</a>
            </li> -->
        </ul>

    </nav>
</div>

<header>
    <!-- header inner -->

<!-- header inner -->
<div class="head_top">
    <div class="header">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="index.html"><img src="images/logo_white.png" alt="#" width="150px"
                                        height="150px"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="right_header_info">
                        <ul>
                            <li class="menu_iconb">
                                <a href="#"><img style="margin-right: 15px;" src="icon/1.png"
                                        alt="#" />+1 (925) 477-7143</a>
                            </li>
                            <li class="menu_iconb">
                                <a href="#">Log in <img style="margin-right: 15px;" src="icon/5.png"
                                        alt="#" /> </a>
                            </li>
                            <li class="menu_iconb">
                                <a href="#">Signup<img style="margin-left: 15px;" src="icon/6.png"
                                        alt="#" /></a>
                            </li>
                            <li class="tytyu">
                                <a href="#"> <img style="margin-right: 15px;" src="icon/2.png"
                                        alt="#" /></a>
                            </li>
                            <li class="menu_iconb">
                                <a href="#"><img style="margin-right: 15px;" src="icon/3.png" alt="#" /></a>
                            </li>

                            <li>
                                <button type="button" id="sidebarCollapse">
                                    <img src="images/menu_icon.png" alt="#" />
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end header inner -->